<ion-view class="view-menu">
  <ion-nav-bar class="vibracao-bar-header bar-positive expandida animated lightSpeedIn">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="conteudo-menu animated fadeIn">
    <div class="row">
      <botao-menu icone="icon-noticias"    texto="NOTÍCIAS"            url="#/noticias"></botao-menu>
      <botao-menu icone="icon-dicas"       texto="DICAS MOTIVA"        url="#/dicas"></botao-menu>
      <botao-menu icone="icon-avisos2"     texto="CENTRAL DE AVISOS"   url="#/avisos"></botao-menu>
    </div>
    <div class="row">
      <botao-menu icone="icon-fotos"       texto="FOTOS"               url="#/fotos"></botao-menu>
      <botao-menu icone="icon-videos"      texto="VÍDEO"               url="#/videos"></botao-menu>
      <botao-menu icone="icon-rss"         texto="RSS NOTÍCIAS"        url="#/rss"></botao-menu>
    </div>
    <div class="row">
      <botao-menu icone="icon-comentarios" texto="COMENTÁRIO DA PROVA" url="#/comentarios"></botao-menu>
      <botao-menu icone="icon-gabaritos"   texto="GABARITOS"           url="#/gabaritos"></botao-menu>
      <botao-menu icone="icon-rotina"      texto="ROTINA DE ESTUDO"    url="#/rotinas"></botao-menu>
    </div>
    <div class="row">
      <botao-menu icone="icon-colegio"     texto="COLÉGIO MOTIVA"      url="#/motiva"></botao-menu>
      <botao-menu icone="icon-facebook"    texto="FACEBOOK"            url="#/facebook"></botao-menu>
      <botao-menu icone="icon-instagram"   texto="INSTAGRAM"           url="#/instagram"></botao-menu>
    </div>
    <div class="row">
      <div class="col"></div>
      <botao-menu icone="icon-info"        texto="INFORMAÇÕES"         url="#/informacoes"></botao-menu>
      <div class="col"></div>
    </div>
  </ion-content>
</ion-view>