// Variáveis para a barra normal
$bar-title-font-size: 65px;
$bar-height: 61px;

// Variáveis para a barra expandida
$bar-title-font-size-expanded: 130px;
$bar-height-expanded: 120px;

// Tamanho do rodapé
$bar-footer-height: 30px;

// Novas cores
$verde-piscina: rgb(69, 153, 162);

// Estilo para a barra normal
.vibracao-bar-header {
  button {
    border: none !important;
  }
  .icon:before {
    font-size: 20px !important;
    color: white !important;
  }
  .title {
    text-align: center !important;
    @extend .icon-logo;
    font-size:               $bar-title-font-size !important; 
    font-family:             'motiva';
    font-style:              normal;
    font-weight:             normal;
    -webkit-font-smoothing:  antialiased;
    -moz-osx-font-smoothing: grayscale
  }
}

// Estilo para a barra expandida
.expandida {
  height: $bar-height-expanded !important;

  .logo-barra {
    font-size:  $bar-title-font-size-expanded !important;
    margin-top: -7px !important;
    overflow:   visible !important;
  }
  .title {
    margin-top:  5px !important;
    height:      $bar-height-expanded !important;
    line-height: $bar-height-expanded !important;
    font-size:   $bar-title-font-size-expanded !important; 
  }
}

// Novas cores para as barras
.bar.bar-azul {
  @include bar-style($positive, $positive, $light);
  background-image: none !important;
  background-color: $positive !important;
  &.bar-footer{
    background-color: $positive;
  }
}


.bar.bar-verde-piscina {
  @include bar-style($verde-piscina, $verde-piscina, $light);
  background-image: none !important;
  background-color: $verde-piscina !important;
  &.bar-footer{
    background-color: $verde-piscina;
  }
}
