.view-dicas {
  background-color: $energized !important;
  border: none !important;
}

.conteudo-dicas {
  top: $bar-height + 10 !important;
  background-color: $energized !important;
  border: none !important;

  .row {
    .col {
      text-align: center;

      .button {
        @extend .button;
        @extend .button-assertive;
        @extend .button-large;
        @extend .icon;

        border-radius: 100% !important;
        padding:       0 !important;
        min-width:     $button-large-height !important;        
      }
      i {
        @extend .assertive;
        font-weight: bold; 
        font-size:   $menu-item-fonte;
      }
    }
  }
}

// Variáveis para o estilo .barra-dicas
$barra-dicas-foreground: $assertive;

// Variáveis para o estilo .barra-dicas span
$barra-dicas-titulo-tamanho-fonte:       22vw;
$barra-dicas-titulo-margem-esquerda:   4.75vw;
$barra-dicas-titulo-margem-topo:     -1.375vw;

// Variáveis para o estilo .barra-dicas h1
$barra-dicas-texto-padding-top:       1.374vw;
$barra-dicas-texto-margem-esquerda:   30.25vw;
$barra-dicas-texto-espessura-linha:   6.875vw;
$barra-dicas-texto-tamanho-fonte:       8.8vw;

// Variáveis para o estilo .subtitulo
$barra-dicas-subtitulo-margem-topo:     -9vw;
$barra-dicas-subtitulo-espessura-linha:  2vw;
$barra-dicas-subtitulo-tamanho-fonte: 3.85vw;

.barra-dicas {
  padding: 0;
  margin: 0;

  span {
    float:       left;
    font-size:   $barra-dicas-titulo-tamanho-fonte;
    margin-left: $barra-dicas-titulo-margem-esquerda;
    margin-top:  $barra-dicas-titulo-margem-topo;
    color:       $barra-dicas-foreground;
  }
  h1 {
    padding-top: $barra-dicas-texto-padding-top;
    margin-left: $barra-dicas-texto-margem-esquerda;
    line-height: $barra-dicas-texto-espessura-linha;
    font-size:   $barra-dicas-texto-tamanho-fonte;
    color:       $barra-dicas-foreground;
  }
  .subtitulo {
    width: 100%;
    text-align: left;
    margin-left: $barra-dicas-texto-margem-esquerda;
    line-height: $barra-dicas-subtitulo-espessura-linha;
    margin-top:  $barra-dicas-subtitulo-margem-topo;
    font-size:   $barra-dicas-subtitulo-tamanho-fonte;
  }
}

.imagem-dica {
  max-width: 600px !important;
}

.texto-dica {
  white-space: pre-line !important;
  font-weight: bold !important;
  text-align: justify !important;
}