.barra-instagram {
  span {
    float:       left;
    font-size:   $barra-conteudo-titulo-tamanho-fonte;
    margin-left: $barra-conteudo-titulo-margem-esquerda;
    margin-top:  $barra-conteudo-titulo-margem-topo;
    color:       $barra-conteudo-foreground;
  }
  h1:first-of-type {
    padding-top: $barra-conteudo-texto-padding-top;
  }
  h1 {
    margin-left: $barra-conteudo-texto-margem-esquerda;
    line-height: $barra-conteudo-texto-espessura-linha;
    font-size:   $barra-conteudo-texto-tamanho-fonte * 0.8;
    color:       $barra-conteudo-foreground;
  }
}

.instagram-list {
  list-style-type: none;
  li {
    padding-left: 3vw;
    img {
      float: left;
      width: 30vw;
      height: 30vw;
      margin: 3px;
      border: 1px solid #888;
    }
  }
}

.instagram-foto {
  .item-avatar {
    img {
      box-shadow: 0px 0px 5px #888888 !important;
    }

    h2 {
      margin-top: 8px !important;
      color: $positive !important;
      font-weight: bold;
    }
  }

  .item-body {
    p {

      img {
        margin-top: -20px;
        width: 100% !important;
        box-shadow: 5px 5px 5px #888888 !important;
      }            
    }
    .descricao {
      color: black !important;
      font-weight: bold !important;
      font-size: 12px !important;
    }
  }
}