// Cores do framework ionic
$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        rgb(54, 125, 193) !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       rgb(243, 194, 45) !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
$cinza:                           rgb(224, 225, 227);
$laranja:                         rgb(210, 86, 53);
$cor-rosa:                        rgb(255,20,147);
$cor-azul:                        rgb(0,0,205);
$cor-branca:                      rgb(105,105,105);
$cor-amarela:                     rgb(255,165,0);

$modal-inset-mode-break-point:    5px; // evita que o background das janelas modais mude em telas pequenas

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
// Include the custom 'motiva' font
@import "scss/fonte_motiva.scss";
// Include all styles per app module
@import "scss/barra_topo.scss";
@import "scss/menu.scss";
@import "scss/provas.scss";
@import "scss/dicas.scss";
@import "scss/modal.scss";
@import "scss/instagram.scss";
@import "scss/rss.scss";
@import "scss/radio.scss";
@import "scss/fotos.scss";
@import "scss/videos.scss";
@import "scss/maps.scss";