// Google maps
.angular-google-map-container { 
  height: 200px; 
}

.titulo {
  text-align: center;
  color: black !important;
  font-size: 14px !important;
  font-weight: bold !important;
}

.descricao {
  text-align: center;
}