$button-large-height: 60px;
$button-large-font-size: 20px;
$button-large-icon-size: 42px;
$menu-margem-topo: 120px;
$menu-item-fonte: 12px;

.view-menu {
  background-color: $positive !important;
}

.conteudo-menu {
  top: $menu-margem-topo !important;
  background-color: $energized !important;
  .row {
    .col {
      text-align: center;

      .button {
        @extend .button;
        @extend .button-assertive;
        @extend .button-large;
        @extend .icon;

        border-radius: 100% !important;
        padding:       0 !important;
        min-width:     $button-large-height !important;        
      }
      i {
        @extend .assertive;
        font-weight: bold; 
        font-size:   $menu-item-fonte;
      }
    }
  }
}