// Estilos para a insercao dos videos
.video-frame {
  width: 80vw !important;
  height: 47vw !important;
}

.vibracao-modal {
  width: 100%  !important;
  height: 100% !important;
  top: 0       !important;
  left: 0      !important;
  padding-top: 10px !important;
}
 
.transparent {
  background: transparent !important;
}

.video-container {
  position: relative;
  padding-bottom: 50%;
  padding-top: -64px; 
  overflow: hidden;
  background: url(../img/spinner.gif) center center no-repeat;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
  position: fixed;
  top: 0px;
  left: 10vw;
  width: 80vw;
  height: 47vw;
  overflow: hidden;
}
