/**
 * Os estilos abaixo aplicam-se ao módulo 'Comentário da Prova'.
 *
 * @author Bruno Gama Catão - brunogamacatao@gmail.com
 * @since 09/27/2015
 */

$barra-conteudo-foreground:             rgb(89, 149, 159);
$barra-conteudo-titulo-tamanho-fonte:   22vw;
$barra-conteudo-titulo-margem-esquerda: 2.75vw;
$barra-conteudo-titulo-margem-topo:     -1.375vw;
$barra-conteudo-texto-padding-top:       1.374vw;
$barra-conteudo-texto-margem-esquerda:  30.25vw;
$barra-conteudo-texto-espessura-linha:   6.875vw;
$barra-conteudo-texto-tamanho-fonte:     8.8vw;
$barra-conteudo-subtitulo-margem-topo:   5.5vw;
$barra-conteudo-subtitulo-tamanho-fonte: 3.85vw;

/**
 * A 'barra do conteúdo' é exibida no início da página e contém um grande ícone
 * alinhado do lado esquerdo, com duas linhas de texto à sua direita (ocupando
 * a mesma altura), abaixo da barra há um subtítulo, ocupando todo o espaço
 * horizontal da mesma. Todos os tamanhos da barra são calculados em unidades
 * de largura de janela (viewport width) de modo que essa disposição, aqui 
 * descrita, seja a mesma em todos os aparelhos, independente da resolução ou
 * orientação da tela.
 */
.barra-conteudo {
  span {
    float:       left;
    font-size:   $barra-conteudo-titulo-tamanho-fonte;
    margin-left: $barra-conteudo-titulo-margem-esquerda;
    margin-top:  $barra-conteudo-titulo-margem-topo;
    color:       $barra-conteudo-foreground;
  }
  h1:first-of-type {
    padding-top: $barra-conteudo-texto-padding-top;
  }
  h1 {
    margin-left: $barra-conteudo-texto-margem-esquerda;
    line-height: $barra-conteudo-texto-espessura-linha;
    font-size:   $barra-conteudo-texto-tamanho-fonte;
    color:       $barra-conteudo-foreground;
  }
  .subtitulo {
    width: 100%;
    text-align: center;
    margin-top: $barra-conteudo-subtitulo-margem-topo;
    font-size:  $barra-conteudo-subtitulo-tamanho-fonte;
  }
}

.barra-questoes {
  background-color: $cinza;
  margin-top: -20px;
  min-height: 14vw;
  line-height: 0;

  span {
    float:       left;
    font-size:   $barra-conteudo-titulo-tamanho-fonte / 2;
    margin-left: $barra-conteudo-titulo-margem-esquerda / 2;
    margin-top:  0.7vw;
    color:       $positive;
  }
  h1 {
    padding-top: 3vw;
    margin-left: $barra-conteudo-texto-margem-esquerda / 2;
    font-size:   $barra-conteudo-texto-tamanho-fonte / 2;
    color:       $positive;
  }
  .subtitulo {
    color:       $positive;
    margin-left: 16.5vw;
    font-size:  3.5vw;
  }
}


.barra-questao {
  background-color: $cinza;
  margin-top: -20px;
  min-height: 13vw;
  line-height: 0;

  span {
    float:       right;
    font-size:   13.8vw;
    margin-right: 25vw;
    margin-top:  0vw;
    color:       $laranja;
  }
  h1:first-of-type {
    padding-top: 2.2vw;
    margin-top: 15px;
  }
  h1 {
    margin-top: -10px;
    padding-top: 0;
    margin-left: 8vw;
    font-size:   4vw;
    color:       $laranja;
  }
}


/**
 * Um 'item-prova' é um item da lista que exibe as provas que possuem questões
 * comentadas cadastradas. Cada item possui um ícone alinhado a esquerda, um
 * texto descritivo (especificando a data ou o tipo da prova), e a cor do item,
 * que são alternadas de modo circular.
 */
 $item-prova-animacao-duracao: 200ms;
 $item-prova-animacao-tipo: fadeInLeft;

.item-prova {
  border-color: white !important;
  font-size: 4vw !important;

  &.ng-enter {
    -webkit-animation: $item-prova-animacao-tipo $item-prova-animacao-duracao;
    animation:         $item-prova-animacao-tipo $item-prova-animacao-duracao;
  }
  &.ng-enter-stagger {
    -webkit-animation-delay: $item-prova-animacao-duracao;
    animation-delay:         $item-prova-animacao-duracao;

    /* override to make sure it's not inherited from other styles */
    -webkit-animation-duration:0;
    animation-duration:0;
  }
}

$cor-questao-corrigida: rgb(164, 190, 66);
$cor-questao-nao-corrigida: rgb(210, 86, 53);

@mixin questao-style($cor) {
  width: 100%;
  background-color: $cor;
  color: white;
  text-align: center;
  font-weight: bold;
}

.questao-corrigida {
  @include questao-style($cor-questao-corrigida);
}

.questao-nao-corrigida {
  @include questao-style($cor-questao-nao-corrigida);
}

.grade-questoes {
  margin: -10px 0 0 0 !important;
  padding: 0 !important;
  .row {
    padding: 2px;
    > .col {
      padding: 1px;
      font-size: 20px;
      line-height: 60px;
      font-weight: bold;
    }
    a {
      text-decoration: none !important;
    }
  }
}

.questao-imagem {
  width: 100%;
  text-align: center;
  margin-top: 1vw;
  img {
    width: 100%;
    max-width: 542px;
  }
}

// Cores das provas
.questao-ROSA {
  @include questao-style($cor-rosa);
}

.questao-AZUL {
  @include questao-style($cor-azul);
}

.questao-BRANCA {
  @include questao-style($cor-branca);
}

.questao-AMARELA {
  @include questao-style($cor-amarela);
}

.ROSA {
  color: $cor-rosa;
}

.AZUL {
  color: $cor-azul;
}

.BRANCA {
  color: $cor-branca;
}

.AMARELA {
  color: $cor-amarela;
}
