$barra-rss-texto-padding-top: 0vw;
$barra-rss-texto-tamanho-fonte: 12vw;
$barra-rss-texto-espessura-linha: 9.21vw;

.barra-rss {
  span {
    float:       left;
    font-size:   $barra-conteudo-titulo-tamanho-fonte;
    margin-left: $barra-conteudo-titulo-margem-esquerda;
    margin-top:  $barra-conteudo-titulo-margem-topo;
    color:       $barra-conteudo-foreground;
  }
  h1:first-of-type {
    padding-top: $barra-rss-texto-padding-top;
  }
  h1 {
    margin-left: $barra-conteudo-texto-margem-esquerda;
    line-height: $barra-rss-texto-espessura-linha;
    font-size:   $barra-rss-texto-tamanho-fonte;
    color:       $barra-conteudo-foreground;
  }
  .subtitulo {
    width: 100%;
    text-align: center;
    margin-top: $barra-conteudo-subtitulo-margem-topo;
    font-size:  $barra-conteudo-subtitulo-tamanho-fonte;
    color:      $barra-conteudo-foreground;
  }
}

.iframe-noticia {
  
}