<ion-view>
  <!-- Navbar -->
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <!-- Barra de Título -->
    <div class="barra-rss animated lightSpeedIn">
      <span class="icon-noticias"></span>
      <h1>VIBRAÇÃO</h1>
      <h1>NOTÍCIAS</h1>
      <p class="subtitulo">Notícias elaboradas por nossa Equipe Motiva</p>
    </div>

    <!-- Conteúdo -->
    <ion-refresher refreshing-text="Atualizando ..." on-refresh="atualizaNoticias()"></ion-refresher>
    <ion-list>
      <ion-item class="item-icon-left" ng-repeat="noticia in noticias" ng-click="mostraNoticia(noticia)">
        <i class="icon icon-noticias" ng-class="cor($index)"></i>
        {{noticia.titulo}}
      </ion-item>
    </ion-list>

    <br/><br/>
  </ion-content>

  <!-- Rodapé -->
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>