<ion-view>
  <!-- Navbar -->
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="barra-questao animated lightSpeedIn" ng-click="mostraVideo()" ng-if="noticia.video">
      <span class="icon-videos"></span>
      <h1>TEMOS UM VÍDEO DESSE</h1>
      <h1>COMENTÁRIO PARA VOCÊ</h1>
    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/facebook_motiva.png">
        <h2>Colégio Motiva</h2>
        <p>{{noticia.created_at | data}}</p>
      </div>

      <div class="item item-divider">
        {{noticia.titulo}}
      </div>

      <div class="item item-body">
        <img class="full-image" ng-src="{{imgUrl()}}">
        <p class="texto-dica">{{noticia.texto}}</p>
        <social_links titulo="{{noticia.titulo}}" texto="{{noticia.texto}}" imagem="{{imgUrl()}}"></social_links>
      </div>
    </div>
    <br/><br/>
  </ion-content>

  <!-- Rodapé -->
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>