<ion-view>
  <!-- Navbar -->
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content overflow-scroll="true">
    <iframe 
      name="noticia_iframe" 
      id="noticia_iframe" 
      class="iframe-noticia" 
      src="{{urlNoticia()}}" 
      width="100%" 
      height="100%">
    </iframe>
    <br/><br/>
  </ion-content>

  <!-- Rodapé -->
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>