<ion-view class="view-dicas">
  <ion-nav-bar class="vibracao-bar-header bar-azul">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content class="conteudo-dicas animated fadeIn">
    <div class="barra-dicas animated lightSpeedIn">
      <span class="icon-dicas"></span>
      <h1>DICAS MOTIVA</h1>
      <span class="subtitulo">
        <p>Aqui você encontra dicas</p>
        <p>separadas por área de estudo.</p>
      </span>
    </div>

    <br/><br/><br/>

    <div class="row">
      <botao-menu icone="icon-ciencias"   texto="CIÊNCIAS DA NATUREZA" url="#/dicas_dica/natureza"></botao-menu>
      <botao-menu icone="icon-humanas"    texto="CIÊNCIAS HUMANAS" url="#/dicas_dica/humanas"></botao-menu>
      <botao-menu icone="icon-linguagens" texto="LINGUAGENS E CÓDIGOS" url="#/dicas_dica/linguagens"></botao-menu>
    </div>
    <div class="row">
      <botao-menu icone="icon-matematica" texto="MATEMÁTICA" url="#/dicas_dica/matematica"></botao-menu>
      <botao-menu icone="icon-redacao"    texto="REDAÇÃO" url="#/dicas_dica/redacao"></botao-menu>
      <botao-menu icone="icon-enem"       texto="SOBRE O ENEM" url="#/dicas_dica/sobre"></botao-menu>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-azul">
  </div>    
</ion-view>