<ion-view>
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="barra-conteudo animated lightSpeedIn">
      <span class="icon-colegio"></span>
      <h1>COLÉGIO</h1>
      <h1>MOTIVA</h1>
    </div>
    <div class="row"></div>
    <div class="list card">
      <div class="item item-divider">
        Informações Gerais
      </div>
      <div class="item item-body">
        <ul>
          <li><strong>Carlos Barbosa</strong> <small>-  Direção Geral</small></li>
          <li><strong>Jane Eyre</strong> <small>-  Direção Administrativa</small></li>
          <li><strong>Karamuh Martins</strong> <small>-  Direção Regional</small></li>
        </ul>
      </div>
      <div class="item item-divider">
        Equipe Pedagógica
      </div>
      <div class="item item-body">
        <ul>
          <li><strong>Élica Nobre</strong><small> -  Coordenadora Pedagógica Ensino Médio 3º ano</small></li>
          <li><strong>Márcio Silva</strong><small> -  Coordenador Pedagógico - Pré-vestibular</small></li>
          <li><strong>Rosemberg Uchôa</strong><small> -  Coordenador Pedagógico - Pré-vestibular</small></li>
          <li><strong>Vitoria Regia A. de Souto</strong><small> -  Supervisora Ensino Médio 3º ano / Cursinho</small></li>
          <li><strong>Paulo Sales</strong><small> -  Coordenador Pedagógico Ensino Médio 3º ano e Pré-Vestibular</small></li>
        </ul>
      </div>
    </div>

    <h3 style="text-align: center">Unidades</h3>
    <div class="list card" ng-repeat="unidade in unidades">
      <div class="item item-divider">
        {{unidade.nome}}
      </div>
      <div class="item item-body">
        <ui-gmap-google-map center="unidade.mapa.center" zoom="unidade.mapa.zoom">
        </ui-gmap-google-map>
        <p>{{unidade.endereco}}</p>
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item">
          <i class="icon ion-ios-telephone"></i> {{unidade.telefone}}
        </a>
        <a class="tab-item">
          <i class="icon ion-social-twitter"></i> {{unidade.twitter}}
        </a>
      </div>
    </div>    
    
    <br/><br/>
  </ion-content>
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>