<ion-view>
  <!-- Navbar -->
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <!-- Barra de Título -->
    <div class="barra-rss animated lightSpeedIn">
      <span class="icon-avisos2"></span>
      <h1>VIBRAÇÃO</h1>
      <h1>AVISOS</h1>
      <p class="subtitulo">Avisos enviados por nossa Equipe Motiva</p>
    </div>

    <!-- Conteúdo -->
    <ion-refresher refreshing-text="Atualizando ..." on-refresh="atualizaAvisos()"></ion-refresher>
    <ion-list>
      <ion-item class="item-icon-left" ng-repeat="aviso in avisos" ng-click="mostraAviso(aviso)">
        <i class="icon icon-avisos2" ng-class="cor($index)"></i>
        {{aviso.titulo}}
      </ion-item>
    </ion-list>

    <br/><br/>
  </ion-content>

  <!-- Rodapé -->
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>