<ion-view>
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="barra-conteudo animated lightSpeedIn">
      <span class="icon-gabaritos"></span>
      <h1>GABARITOS</h1>
      <h1>DAS PROVAS</h1>
      <span class="subtitulo">
        <p>{{ prova.nome }}</p>
      </span>
    </div>

    <br/><br/><br/><br/>
    <div class="grade-questoes" ng-if="pronto">
      <div class="row row-no-padding" ng-repeat="x in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
        <div class="col" ng-repeat="y in [1,2,3,4,5]">
          <div ng-class="corQuestao()">{{numeroQuestao(x, y)}} - {{respostaQuestao(x, y)}}</div>
        </div>
      </div>
    </div>
    <br/><br/>
  </ion-content>
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>