<ion-view>
  <!-- Navbar -->
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <!-- Barra de Título -->
    <div class="barra-instagram animated lightSpeedIn">
      <span class="icon-facebook"></span>
      <h1>FACEBOOK</h1>
      <h1>VIBRAÇÃO MOTIVA</h1>
    </div>

    <div class="row"></div>
    <!-- Conteúdo -->
    <ion-refresher refreshing-text="Atualizando ..." on-refresh="atualiza()"></ion-refresher>
    <div class="list card">
      <div ng-repeat="post in posts">
        <div class="item item-avatar">
          <img src="img/facebook_motiva.png">
          <h2>Colégio Motiva</h2>
          <p>{{post.created_time | data}}</p>
        </div>    
        <div class="item item-body">
          <img ng-repeat="att in post.attachments.data" class="full-image" ng-src="{{att.media.image.src}}">            
          <p>{{post.message}}</p>
        </div>
        <hr/>
      </div>
    </div>

    <br/><br/>

  </ion-content>

  <!-- Rodapé -->
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>