<ion-modal-view class="vibracao-modal transparent" ng-click="fechaModal()">
  <ion-content>
    <div class="video-container" vertical-center>
      <iframe ng-src="{{questao.video | youtubeEmbedUrl}}" frameborder="0"></iframe>
    </div>      
  </ion-content>
</ion-modal-view>