<div style="margin-top: 5px; text-align: center">
  <a style="display:inline-block" ng-click="shareViaFacebook()">
    <img src="img/icones/social/facebook_32.png"/>
  </a>
  <a style="display:inline-block" ng-click="shareViaTwitter()">
    <img src="img/icones/social/twitter_32.png"/>
  </a>
  <a style="display:inline-block" ng-click="shareViaWhatsapp()">
    <img src="img/icones/social/whatsapp_32.png"/>
  </a>
  <a style="display:inline-block" ng-click="shareAll()">
    <img src="img/icones/social/sharethis_32.png"/>
  </a>
</div>