<ion-view>
  <!-- Navbar -->
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <ion-list class="card instagram-foto">
      <ion-item class="item-avatar">
        <img ng-src="{{item.user.profile_picture}}" ng-if="item.user.profile_picture.startsWith('https')">
        <h2>{{item.user.username}}</h2>        
      </ion-item>
      <ion-item class="item-body">
        <p style="text-align:center"><img ng-src="{{item.images.standard_resolution.url}}"></p>
        <p class="descricao">{{item.caption.text}}</p>
      </ion-item>
    </ion-list>
    <br/><br/>
  </ion-content>

  <!-- Rodapé -->
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>