<ion-view>
  <!-- Navbar -->
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <!-- Barra de Título -->
    <div class="barra-instagram animated lightSpeedIn">
      <span class="icon-instagram"></span>
      <h1>INSTAGRAM</h1>
      <h1>VIBRAÇÃO MOTIVA</h1>
      <!--span class="subtitulo">
        <p>Comentários elaborados por nossa Equipe Motiva</p>
      </span-->
    </div>

    <div class="row"></div>

    <!-- Conteúdo -->
    <ion-refresher refreshing-text="Atualizando ..." on-refresh="doRefresh()"></ion-refresher>
    <ul class="instagram-list" ng-repeat="item in items track by item.id">
      <li ng-click="exibeFoto(item)">
        <img ng-src="{{item.images.low_resolution.url}}">
      </li>
    </ul>
    <ion-infinite-scroll immediate-check="false" on-infinite="loadMore()" distance="5%" ng-if="!noMoreItemsAvailable"></ion-infinite-scroll>

    <br/><br/>
  </ion-content>

  <!-- Rodapé -->
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>