<div class="gallery-view">
  <div class="row" ng-repeat="item in items track by $index" ion-row-height>
    <div ng-repeat="photo in item track by $index"
         class="col col-{{responsiveGrid}} image-container">
      
      <img ion-image-scale
           ng-src="{{photo.thumb_src}}"
           ng-click="showImage({{$parent.$index}},{{$index}})">
      
    </div>
  </div>
  <div ion-slider></div>
</div>