<ion-view>
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="barra-conteudo animated lightSpeedIn">
      <span class="icon-rotina"></span>
      <h1>ROTINA DE</h1>
      <h1>ESTUDO</h1>
    </div>

    <div class="row"></div>

    <div class="list card">
      <div style="text-align: right">
        <button class="button button-positive button-small" ng-click="exibeModalNovaAtividade()">
          <i class="icon ion-plus"></i> Nova Atividade
        </button>
        <button class="button button-assertive button-small" ng-click="toggleShowDelete()" ng-show="alarms.length > 0">
          <i class="icon ion-ios-gear"></i> Editar
        </button>
      </div>
      <ion-list ng-show="alarms.length > 0" show-delete="shouldShowDelete">
        <ion-item ng-repeat="alarm in alarms track by alarm.id">

          <ion-toggle 
            ng-model="alarm.ativo" 
            toggle-class="toggle-calm"
            ng-true-value="true"
            ng-false-value="false"
            ng-change="toggleAtivo($index)">
            {{alarm.at | date: 'HH:mm'}}
            <p><small>{{alarm.text}}</small></p>
          </ion-toggle>

          <ion-delete-button class="ion-minus-circled" ng-click="excluirAtividade(alarm)">
          </ion-delete-button>

        </ion-item>
      </ion-list>
      <div class="item" style="text-align: center" ng-show="alarms.length == 0">
        Não há atividades cadastradas
      </div>
    </div>

    <br/><br/>
  </ion-content>
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>