<ion-modal-view class="vibracao-modal">
  <div class="bar bar-header bar-light">
    <h1 class="title normal">Nova Atividade</h1>
  </div>  
  <ion-content class="has-header">
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="Nome da Atividade" ng-model="alarme.nome">
      </label>

      <!-- Instante inicial -->
      <div class="item">
        <strong>Início</strong>
        <!-- Data -->
        <p style="text-align: center">
          <ionic-datepicker input-obj="datepickerObjectPopup">
            <button class="button button-dark">
              {{datepickerObjectPopup.inputDate | date:'dd/MM/yyyy'}}
            </button>
          </ionic-datepicker>

          <!-- Hora -->
          <ionic-timepicker input-obj="timePickerObject24Hour">
            <button class="button button-dark overflowShow">
              <i class="icon ion-clock"></i>
              <standard-time-no-meridian etime='timePickerObject24Hour.inputEpochTime'></standard-time-no-meridian>
            </button>
          </ionic-timepicker>  
        </p>      
      </div>

      <label class="item item-input item-stacked-label">
        <strong>Repetir</strong><br/>

        <ion-radio-fix ng-model="alarme.periodicidade" ng-value="0">Nunca</ion-radio-fix>
        <ion-radio-fix ng-model="alarme.periodicidade" ng-value="1">Hora</ion-radio-fix>
        <ion-radio-fix ng-model="alarme.periodicidade" ng-value="2">Dia</ion-radio-fix>
        <ion-radio-fix ng-model="alarme.periodicidade" ng-value="3">Semana</ion-radio-fix>
        <ion-radio-fix ng-model="alarme.periodicidade" ng-value="4">Mês</ion-radio-fix>
      </label>

      <div class="padding">
        <div class="button-bar">
          <button class="button button-positive activated" ng-click="adicionarAtividade()">Salvar</button>
          <button class="button button-energized activated" ng-click="fechaModalNovaAtividade()">Cancelar</button>
        </div>
      </div>

    </div>
  </ion-content>
</ion-modal-view>