<ion-view>
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="barra-conteudo animated lightSpeedIn">
      <span class="icon-comentarios"></span>
      <h1>COMENTÁRIO</h1>
      <h1>DA PROVA</h1>
      <span class="subtitulo">
        <p>Comentários elaborados por nossa Equipe Motiva</p>
      </span>
    </div>

    <br/><br/><br/><br/>
    <ion-refresher refreshing-text="Atualizando ..." on-refresh="atualiza()"></ion-refresher>
    <ion-list>
      <ion-item 
        class="item-remove-animate item-icon-left item-prova"
        ng-repeat="prova in provas" 
        ng-click="selecionaProva(prova)">
        <i class="icon icon-prova {{prova.cor}}"></i>
        <span ng-class="cor($index)">{{prova.nome | uppercase}}</span>
      </ion-item>
    </ion-list>
    <br/><br/>
  </ion-content>
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>