<ion-view>
  <ion-nav-bar class="vibracao-bar-header bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="barra-questoes animated lightSpeedIn">
      <span class="icon-comentarios"></span>
      <h1>{{prova.nome | uppercase}}</h1>
      <p class="subtitulo">Comentários elaborados por nossa Equipe Motiva</p>
    </div>

    <ion-refresher refreshing-text="Atualizando ..." on-refresh="atualiza()"></ion-refresher>
    <div class="grade-questoes">
      <div class="row row-no-padding" ng-repeat="x in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
        <div class="col" ng-repeat="y in [1,2,3,4,5]">
          <a ng-click="selecionaQuestao((x - 1) * 5 + y + (prova.numero_primeira_questao - 1))">
            <div ng-class="corrigida((x - 1) * 5 + y + (prova.numero_primeira_questao - 1))">
              {{(x - 1) * 5 + y + (prova.numero_primeira_questao - 1)}}
            </div>
          </a>
        </div>
      </div>
    </div>

    <br/><br/><br/>
  </ion-content>
  <div class="bar bar-footer bar-positive">
  </div>    
</ion-view>