<ion-view>
  <ion-nav-bar class="vibracao-bar-header bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="barra-questao animated lightSpeedIn" ng-click="mostraVideo()" ng-if="questao.video">
      <span class="icon-videos"></span>
      <h1>TEMOS UM VÍDEO DESSE</h1>
      <h1>COMENTÁRIO PARA VOCÊ</h1>
    </div>

    <div class="questao-imagem" ng-repeat="imagem in questao.imagens">
      <img ng-src="{{imagemUrl(imagem)}}"/>
      <p ng-if="imagem.legenda">{{ imagem.legenda }}</p>
    </div>

    <div class="card">
      <div class="item item-text-wrap texto-dica">
        {{ questao.comentario }}
      </div>
      <div class="item">
        <social_links titulo="{{questao.numero}}" texto="{{questao.comentario}}" imagem="{{imagemDefaultUrl()}}">
        </social_links>
      </div>
    </div>

    <br/><br/><br/>
  </ion-content>
  <div class="bar bar-footer bar-positive">
  </div>    
</ion-view>