<ion-view>
  <ion-nav-bar class="vibracao-bar-header bar-positive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="barra-questao animated lightSpeedIn" ng-click="mostraVideo()" ng-if="questao.video">
      <span class="icon-videos"></span>
      <h1>TEMOS UM VÍDEO DESSE</h1>
      <h1>COMENTÁRIO PARA VOCÊ</h1>
    </div>

    <div class="questao-imagem">
      <img ng-src="{{imagemUrl()}}"/>
    </div>

    <div class="card">
      <div class="item item-divider">
        {{ prova.tema }}
      </div>
      <div class="item item-text-wrap">
        {{ prova.comentario }}
      </div>
    </div>

    <br/><br/><br/>
  </ion-content>
  <div class="bar bar-footer bar-positive">
  </div>    
</ion-view>