<ion-view>
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div class="barra-conteudo animated lightSpeedIn">
      <span class="icon-info"></span>
      <h1>INFORMAÇÕES</h1>
      <h1>GERAIS</h1>
    </div>

    <div class="row"></div>

    <div class="list card">
      <div class="item item-divider">
        Equipe de Desenvolvimento
      </div>
      <div class="item item-body">
        <ul>
          <li><strong>Bruno Catão</strong><small> - Desenvolvedor</small></li>
          <li><strong>Rafael Barbosa</strong><small> - Criação e Design</small></li>
          <li><strong>Gutemberg Medeiros</strong><small> - Gerente de Projeto</small></li>
          <li><strong>Tanisia Ferreira</strong><small> - Assessoria de Comunicação Campina Grande</small></li>
          <li><strong>Erica Chianca</strong><small> - Assessoria de Comunicação João Pessoa</small></li>
        </ul>
      </div>
      <div class="item item-divider" style="text-align:center">
        <small>&copy; 2015 Motiva - Todos os Direitos Reservados<small>
      </div>
    </div>


    <br/><br/>
  </ion-content>
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>