<ion-view>
  <!-- Navbar -->
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <!-- Barra de Título -->
    <div class="barra-rss animated lightSpeedIn">
      <span class="icon-videos"></span>
      <h1>VIBRAÇÃO</h1>
      <h1>VÍDEOS</h1>
      <p class="subtitulo">Vídeos selecionados por nossa Equipe Motiva</p>
    </div>

    <!-- Conteúdo -->   
    <ion-refresher refreshing-text="Atualizando ..." on-refresh="atualizaVideos()"></ion-refresher>
    <div class="list card">
      <div ng-repeat="video in videos | limitTo:videosParaMostrar">
        <div class="item item-divider">
          {{video.titulo}}
        </div>
        <div class="item item-body">
          <div class="videoWrapper">
            <iframe ng-src="{{video.video | youtubeEmbedUrl}}" frameborder="0" width="560" height="349"></iframe>
          </div>
          <p>{{video.legenda}}</p>
          <social_links titulo="{{video.titulo}}" texto="{{video.legenda}}" link="{{video.video | youtubeEmbedUrl}}">
          </social_links>
        </div>
      </div>
    </div>
    <ion-infinite-scroll immediate-check="false" on-infinite="mostrarMaisVideos()" distance="5%" ng-if="temMais">
    </ion-infinite-scroll>

    <br/><br/>
  </ion-content>

  <!-- Rodapé -->
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>