<ion-modal-view class="vibracao-modal transparent" ng-click="fechaModal()">
  <ion-content>
    <ion-slide-box 
      does-continue="true" 
      active-slide="selectedIndex" 
      show-pager="false" 
      class="list card">
      
      <ion-slide ng-repeat="foto in fotos track by $index">
        <div class="item item-divider item-icon-right" ng-click="fechaModal()">
          <i class="icon ion-close"></i>
          {{foto.titulo}}
        </div>
        <div class="item item-image">
          <img class="vibracao-imagem" ng-src="{{urlFoto($index)}}">
        </div>
        <div class="item item-text-wrap">
          {{foto.legenda}}
        </div>
        <div class="item">
          <social_links titulo="{{foto.titulo}}" texto="{{foto.legenda}}" imagem="{{urlFoto($index)}}"></social_links>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-modal-view>