<ion-view>
  <!-- Navbar -->
  <ion-nav-bar class="vibracao-bar-header bar-verde-piscina">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <!-- Barra de Título -->
    <div class="barra-instagram animated lightSpeedIn">
      <span class="icon-fotos"></span>
      <h1>FOTOS</h1>
      <h1>VIBRAÇÃO MOTIVA</h1>
      <!--span class="subtitulo">
        <p>Comentários elaborados por nossa Equipe Motiva</p>
      </span-->
    </div>

    <div class="row"></div>
    
    <!--ion-gallery ion-gallery-items="fotos"></ion-galllery-->

    <!-- Conteúdo -->
    <ion-refresher refreshing-text="Atualizando ..." on-refresh="atualizaFotos()"></ion-refresher>
    <ul class="instagram-list" ng-repeat="foto in fotos">
      <li ng-click="exibeFoto($index)">
        <img ng-src="{{iconeUrl(foto)}}">
      </li>
    </ul>

    <br/><br/>
  </ion-content>

  <!-- Rodapé -->
  <div class="bar bar-footer bar-verde-piscina">
  </div>    
</ion-view>